hap-core/src/main/resources/pandian.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://www.cq-yj.com/HAP/PANDIAN/Sender" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SI_PANDIAN_Sender_Syn" targetNamespace="http://www.cq-yj.com/HAP/PANDIAN/Sender">
   <wsdl:documentation />
   <wsp:UsingPolicy wsdl:required="true" />
   <wsp:Policy wsu:Id="OP_SI_PANDIAN_Sender_Syn" />
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.cq-yj.com/HAP/PANDIAN/Sender" targetNamespace="http://www.cq-yj.com/HAP/PANDIAN/Sender">
         <xsd:element name="MT_PANDIAN_Req" type="DT_PANDIAN_Req" />
         <xsd:element name="MT_PANDIAN_Res" type="DT_PANDIAN_Res" />
         <xsd:complexType name="DT_PANDIAN_Res">
            <xsd:annotation>
               <xsd:appinfo source="http://sap.com/xi/VersionID">
               6b50e1518faa11e895a10000002ad1ea
               </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="RETURN">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="MSGTY" type="xsd:string" />
                        <xsd:element name="MSGID" type="xsd:string" />
                        <xsd:element name="MSGNO" type="xsd:string" />
                        <xsd:element name="MSGV1" type="xsd:string" />
                        <xsd:element name="MSGV2" type="xsd:string" />
                        <xsd:element name="MSGV3" type="xsd:string" />
                        <xsd:element name="MSGV4" type="xsd:string" />
                        <xsd:element name="MESSAGE" type="xsd:string" />
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_PANDIAN_Req">
            <xsd:annotation>
               <xsd:appinfo source="http://sap.com/xi/VersionID">
               1603bd928faa11e8c0dc0000002ad1ea
               </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="ITEM" maxOccurs="unbounded">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="WERKS" type="xsd:string" />
                        <xsd:element name="AUFNR" type="xsd:string" />
                        <xsd:element name="ZPGDBAR" type="xsd:string" />
                        <xsd:element name="ZPGDBH" type="xsd:string" />
                        <xsd:element name="PDDAT" type="xsd:string" />
                        <xsd:element name="PDTIM" type="xsd:string" />
                        <xsd:element name="VORNR" type="xsd:string" />
                        <xsd:element name="MATNR" type="xsd:string" />
                        <xsd:element name="GAMNG" type="xsd:string" />
                        <xsd:element name="DATUM" type="xsd:string" />
                        <xsd:element name="QRMNG" type="xsd:string" />
                        <xsd:element name="ZCFWZ" type="xsd:string" />
                        <xsd:element name="ZLYLX" type="xsd:string" />
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="MT_PANDIAN_Req">
      <wsdl:documentation />
      <wsdl:part name="MT_PANDIAN_Req" element="p1:MT_PANDIAN_Req" />
   </wsdl:message>
   <wsdl:message name="MT_PANDIAN_Res">
      <wsdl:documentation />
      <wsdl:part name="MT_PANDIAN_Res" element="p1:MT_PANDIAN_Res" />
   </wsdl:message>
   <wsdl:portType name="SI_PANDIAN_Sender_Syn">
      <wsdl:documentation />
      <wsdl:operation name="SI_PANDIAN_Sender_Syn">
         <wsdl:documentation />
         <wsp:Policy>
            <wsp:PolicyReference URI="#OP_SI_PANDIAN_Sender_Syn" />
         </wsp:Policy>
         <wsdl:input message="p1:MT_PANDIAN_Req" />
         <wsdl:output message="p1:MT_PANDIAN_Res" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SI_PANDIAN_Sender_SynBinding" type="p1:SI_PANDIAN_Sender_Syn">
      <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="SI_PANDIAN_Sender_Syn">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1" />
         <wsdl:input>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SI_PANDIAN_Sender_SynService">
      <wsdl:port name="HTTP_Port" binding="p1:SI_PANDIAN_Sender_SynBinding">
         <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://pidev1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_HAP_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PANDIAN_Sender_Syn&amp;interfaceNamespace=http%3A%2F%2Fwww.cq-yj.com%2FHAP%2FPANDIAN%2FSender" />
      </wsdl:port>
      <wsdl:port name="HTTPS_Port" binding="p1:SI_PANDIAN_Sender_SynBinding">
         <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="https://pidev1:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_HAP_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PANDIAN_Sender_Syn&amp;interfaceNamespace=http%3A%2F%2Fwww.cq-yj.com%2FHAP%2FPANDIAN%2FSender" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>