hap-core/src/main/resources/readTp.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_READTP_Sender_Syn" targetNamespace="http://www.cq-yj.com/HAP/READTP/Sender"
                  xmlns:p1="http://www.cq-yj.com/HAP/READTP/Sender"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_SI_READTP_Sender_Syn"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.cq-yj.com/HAP/READTP/Sender"
                    xmlns="http://www.cq-yj.com/HAP/READTP/Sender" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="MT_READTP_Req" type="DT_READTP_Req"/>
            <xsd:element name="MT_READTP_Res" type="DT_READTP_Res"/>
            <xsd:complexType name="DT_READTP_Res">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">5225a5a0d1d211e8cee10000002ad1ea</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="RETURN">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">f4c8a45ad1d111e898cd4ccc6a9ffd24
                            </xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ZFLAG" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            b953d86bc84711e8ccc74ccc6a9ffd24
                                        </xsd:appinfo>
                                        <xsd:documentation>成功/失败标志</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MESSAGE" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            b953d86cc84711e8c2074ccc6a9ffd24
                                        </xsd:appinfo>
                                        <xsd:documentation>消息文本</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZTPZT" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            b953d86dc84711e88b204ccc6a9ffd24
                                        </xsd:appinfo>
                                        <xsd:documentation>托盘条码最新状态</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZTPZT2" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            b953d86ec84711e888694ccc6a9ffd24
                                        </xsd:appinfo>
                                        <xsd:documentation>托盘条码上一状态</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="LGORT" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            b953d86fc84711e8a9874ccc6a9ffd24
                                        </xsd:appinfo>
                                        <xsd:documentation>库存地点</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MENGE" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            b953d870c84711e8ac164ccc6a9ffd24
                                        </xsd:appinfo>
                                        <xsd:documentation>数量</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZTPWZ" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            b953d871c84711e8c2884ccc6a9ffd24
                                        </xsd:appinfo>
                                        <xsd:documentation>托盘位置</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZTPBAR" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            b953d872c84711e8cec14ccc6a9ffd24
                                        </xsd:appinfo>
                                        <xsd:documentation>托盘条码</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MATNR" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            f4c8a459d1d111e89e1f4ccc6a9ffd24
                                        </xsd:appinfo>
                                        <xsd:documentation>物料编号</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DT_READTP_Req">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a89d6c6dc84711e890ba0000002ad1ea</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ITEM">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ZTPBAR" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            49b5235ac84711e890204ccc6a9ffd24
                                        </xsd:appinfo>
                                        <xsd:documentation>托盘条码</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MT_READTP_Req">
        <wsdl:documentation/>
        <wsdl:part name="MT_READTP_Req" element="p1:MT_READTP_Req"/>
    </wsdl:message>
    <wsdl:message name="MT_READTP_Res">
        <wsdl:documentation/>
        <wsdl:part name="MT_READTP_Res" element="p1:MT_READTP_Res"/>
    </wsdl:message>
    <wsdl:portType name="SI_READTP_Sender_Syn">
        <wsdl:documentation/>
        <wsdl:operation name="SI_READTP_Sender_Syn">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_SI_READTP_Sender_Syn"/>
            </wsp:Policy>
            <wsdl:input message="p1:MT_READTP_Req"/>
            <wsdl:output message="p1:MT_READTP_Res"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SI_READTP_Sender_SynBinding" type="p1:SI_READTP_Sender_Syn">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <wsdl:operation name="SI_READTP_Sender_Syn">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
                            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SI_READTP_Sender_SynService">
        <wsdl:port name="HTTP_Port" binding="p1:SI_READTP_Sender_SynBinding">
            <soap:address
                    location="http://pidev1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_HAP_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_READTP_Sender_Syn&amp;interfaceNamespace=http%3A%2F%2Fwww.cq-yj.com%2FHAP%2FREADTP%2FSender"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
        <wsdl:port name="HTTPS_Port" binding="p1:SI_READTP_Sender_SynBinding">
            <soap:address
                    location="https://pidev1:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_HAP_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_READTP_Sender_Syn&amp;interfaceNamespace=http%3A%2F%2Fwww.cq-yj.com%2FHAP%2FREADTP%2FSender"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>