hap-core/src/main/resources/synccrhd.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_ZZ002_Sender_Syn" targetNamespace="http://www.cq-yj.com/HAP/PP001/SAP_CRHD/Sender"
                  xmlns:p1="http://www.cq-yj.com/HAP/PP001/SAP_CRHD/Sender"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_SI_ZZ002_Sender_Syn"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.cq-yj.com/HAP/PP001/SAP_CRHD/Sender"
                    xmlns="http://www.cq-yj.com/HAP/PP001/SAP_CRHD/Sender" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="MT_ZZ002_Req" type="DT_ZZ002_Req"/>
            <xsd:element name="MT_ZZ002_Res" type="DT_ZZ002_Res"/>
            <xsd:complexType name="DT_ZZ002_Res">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">c09db92f856b11e890400000002ad1ea</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="E_MESSAGE" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">b862a67184e011e8c59d4ccc6a9ffd24
                            </xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="TYPE" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            b862a66d84e011e8b0794ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ID" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            b862a66e84e011e8a5b84ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="NUMBER" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            b862a66f84e011e8a2dc4ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MESSAGE" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            b862a67084e011e8bccf4ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="T_RETURN" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">4f4e680fa41111e78a044ccc6a9ffd24
                            </xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="OBJID" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            4f4e6808a41111e7a9e04ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ARBPL" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            4f4e6809a41111e7bd2e4ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="WERKS" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            4e2d48f684de11e895d14ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="VERWE" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            4e2d48f784de11e8802c4ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="LVORM" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            f7342f6884df11e8c8f64ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="AEDAT_GRND" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            f7342f6984df11e89f974ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="VERAN" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            f7342f6a84df11e88d744ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="KTEXT" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            f7342f6b84df11e8acb44ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZBZ1" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            4f4e680aa41111e794a04ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZBZ2" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            4f4e680ba41111e7a83d4ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZBZ3" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            4f4e680ca41111e78d614ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZBZ4" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            4f4e680da41111e7b6a84ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZBZ5" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            4f4e680ea41111e7bb804ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZBZ6" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            f7342f8084df11e8cbbf4ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZBZ7" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            f7342f8184df11e88e124ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZBZ8" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            f7342f8284df11e8b7524ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZBZ9" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            f7342f8384df11e895ae4ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZBZ10" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            f7342f8484df11e892214ccc6a9ffd24
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DT_ZZ002_Req">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">b8f78a33856b11e8af300000002ad1ea</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="I_DATA" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">c1a1e0452a2611e7b2cf00ff7864be41
                            </xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="FILED" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            74d682242a3211e7c64700ff7864be41
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="SIGN" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            74d682252a3211e7bca800ff7864be41
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="OPTION" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            74d682262a3211e7915f00ff7864be41
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="LOW" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            74d682272a3211e7a38d00ff7864be41
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="HIGH" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            74d69dc82a3211e7b64c00ff7864be41
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZBZ1" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            74d69dc92a3211e7813f00ff7864be41
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZBZ2" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            74d69dca2a3211e782f100ff7864be41
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MT_ZZ002_Req">
        <wsdl:documentation/>
        <wsdl:part name="MT_ZZ002_Req" element="p1:MT_ZZ002_Req"/>
    </wsdl:message>
    <wsdl:message name="MT_ZZ002_Res">
        <wsdl:documentation/>
        <wsdl:part name="MT_ZZ002_Res" element="p1:MT_ZZ002_Res"/>
    </wsdl:message>
    <wsdl:portType name="SI_ZZ002_Sender_Syn">
        <wsdl:documentation/>
        <wsdl:operation name="SI_ZZ002_Sender_Syn">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_SI_ZZ002_Sender_Syn"/>
            </wsp:Policy>
            <wsdl:input message="p1:MT_ZZ002_Req"/>
            <wsdl:output message="p1:MT_ZZ002_Res"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SI_ZZ002_Sender_SynBinding" type="p1:SI_ZZ002_Sender_Syn">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <wsdl:operation name="SI_ZZ002_Sender_Syn">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
                            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SI_ZZ002_Sender_SynService">
        <wsdl:port name="HTTP_Port" binding="p1:SI_ZZ002_Sender_SynBinding">
            <soap:address
                    location="http://pidev1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_HAP_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZZ002_Sender_Syn&amp;interfaceNamespace=http%3A%2F%2Fwww.cq-yj.com%2FHAP%2FPP001%2FSAP_CRHD%2FSender"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
        <wsdl:port name="HTTPS_Port" binding="p1:SI_ZZ002_Sender_SynBinding">
            <soap:address
                    location="https://pidev1:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_HAP_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZZ002_Sender_Syn&amp;interfaceNamespace=http%3A%2F%2Fwww.cq-yj.com%2FHAP%2FPP001%2FSAP_CRHD%2FSender"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>