hap-core/src/main/resources/XHCARDwsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_XHCARD_SENDX_SYNC" targetNamespace="http://www.cq-yj.com/HAP/PP001/xhcardSender"
                  xmlns:p2="http://www.cq-yj.com/HAP/Basis" xmlns:p1="http://www.cq-yj.com/HAP/PP001/xhcardSender"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_SI_XHCARD_SENDX_SYNC"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.cq-yj.com/HAP/PP001/xhcardSender"
                    xmlns="http://www.cq-yj.com/HAP/PP001/xhcardSender" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="MT_XHCARD_SENDX_RES" type="DT_XHCARD_SENDX_RES"/>
            <xsd:element name="MT_XHCARD_SENDX_REQ" type="DT_XHCARD_SENDX_REQ"/>
            <xsd:complexType name="DT_XHCARD_SENDX_RES">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">9df6850d704311e8bf640000002ad1ea</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="RETURN">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">c510a939703e11e88466002324a6066a
                            </xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="MSGTY" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            ff749998703e11e8a011002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MSGID" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            c5a5030d704211e8c36e002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MSGNO" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            c5a5030e704211e8a7d2002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MSGV1" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            c5a5030f704211e8c6db002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MSGV2" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            c5a50310704211e89a45002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MSGV3" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            c5a50d10704211e8899c002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MSGV4" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            c5a50d11704211e8937f002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MESSAGE" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            c5a50d12704211e8ad86002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DT_XHCARD_SENDX_REQ">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">869486d0703f11e8bbd10000002ad1ea</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ITEM" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">0b2f8ed6704011e8bb4a002324a6066a
                            </xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="WERKS" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fd8704011e88a6d002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MATNR" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fd9704011e886a6002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="CHARG" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fda704011e8810d002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZXHNUM" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fdb704011e8b23d002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZXHZT" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fdc704011e89e5c002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZXHZT2" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fdd704011e893b6002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="LGORT" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fde704011e8b07c002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MENGE" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fdf704011e8b103002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="MEINS" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fe0704011e89753002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZXHWZ" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fe1704011e8ae20002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="AUFNR" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fe2704011e8c1e9002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZXHBAR" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fe3704011e8c6eb002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZJYY" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fe4704011e8c544002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZSCBC" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fe5704011e8c81f002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZSCX" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fe6704011e888c3002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZMNUM" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fe7704011e8a3f1002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZSCTPTM" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fe8704011e8b637002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZTXT" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fe9704011e8b131002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ZBQBD" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6fea704011e88c9f002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="CHARGKC" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            0b2f6feb704011e8c8a0002324a6066a
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://www.cq-yj.com/HAP/Basis" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://www.cq-yj.com/HAP/Basis">
            <xsd:element name="StandardMessageFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="standard" type="ExchangeFaultData"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ExchangeFaultData">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d24aabc0a27311dc96e30017a4aa3b42</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">17a4f43954d311e7999e0000002ad1ea</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="faultText" type="xsd:string"/>
                    <xsd:element name="faultUrl" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="faultDetail" type="ExchangeLogData" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ExchangeLogData">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d2470240a27311dca1170017a4aa3b42</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">2368c51854d311e7b3150000002ad1ea</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="severity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="text" type="xsd:string"/>
                    <xsd:element name="url" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="id" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MT_XHCARD_SENDX_REQ">
        <wsdl:documentation/>
        <wsdl:part name="MT_XHCARD_SENDX_REQ" element="p1:MT_XHCARD_SENDX_REQ"/>
    </wsdl:message>
    <wsdl:message name="MT_XHCARD_SENDX_RES">
        <wsdl:documentation/>
        <wsdl:part name="MT_XHCARD_SENDX_RES" element="p1:MT_XHCARD_SENDX_RES"/>
    </wsdl:message>
    <wsdl:message name="p2.StandardMessageFault">
        <wsdl:documentation/>
        <wsdl:part name="StandardMessageFault" element="p2:StandardMessageFault"/>
    </wsdl:message>
    <wsdl:portType name="SI_XHCARD_SENDX_SYNC">
        <wsdl:documentation/>
        <wsdl:operation name="SI_XHCARD_SENDX_SYNC">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_SI_XHCARD_SENDX_SYNC"/>
            </wsp:Policy>
            <wsdl:input message="p1:MT_XHCARD_SENDX_REQ"/>
            <wsdl:output message="p1:MT_XHCARD_SENDX_RES"/>
            <wsdl:fault name="p2.StandardMessageFault" message="p1:p2.StandardMessageFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SI_XHCARD_SENDX_SYNCBinding" type="p1:SI_XHCARD_SENDX_SYNC">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <wsdl:operation name="SI_XHCARD_SENDX_SYNC">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
                            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:output>
            <wsdl:fault name="p2.StandardMessageFault">
                <soap:fault use="literal" name="p2.StandardMessageFault"
                            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SI_XHCARD_SENDX_SYNCService">
        <wsdl:port name="HTTP_Port" binding="p1:SI_XHCARD_SENDX_SYNCBinding">
            <soap:address
                    location="http://pidev1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_HAP_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_XHCARD_SENDX_SYNC&amp;interfaceNamespace=http%3A%2F%2Fwww.cq-yj.com%2FHAP%2FPP001%2FxhcardSender"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
        <wsdl:port name="HTTPS_Port" binding="p1:SI_XHCARD_SENDX_SYNCBinding">
            <soap:address
                    location="https://pidev1:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_HAP_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_XHCARD_SENDX_SYNC&amp;interfaceNamespace=http%3A%2F%2Fwww.cq-yj.com%2FHAP%2FPP001%2FxhcardSender"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>